<a href="https://colab.research.google.com/github/pra1608/ASE/blob/master/tutorialsheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [2]:
df.head(10)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0
5    -114.58     33.63  ...         3.3438             74000.0
6    -114.58     33.61  ...         2.6768             82400.0
7    -114.59     34.83  ...         1.7083             48500.0
8    -114.59     33.61  ...         2.1782             58400.0
9    -114.60     34.83  ...         2.1908             48100.0

[10 rows x 9 columns]

In [7]:
df[['median_income', 'population']]

       median_income  population
0             1.4936      1015.0
1             1.8200      1129.0
2             1.6509       333.0
3             3.1917       515.0
4             1.9250       624.0
...              ...         ...
16995         2.3571       907.0
16996         2.5179      1194.0
16997         3.0313      1244.0
16998         1.9797      1298.0
16999         3.0147       806.0

[17000 rows x 2 columns]

In [17]:
print('Mean value of Median_income feature is {a:.2f}'.format(a = df['median_income'].mean()))
print('std value of Median_income feature is {a:.2f}'.format(a= df['median_income'].std()))
print('Mean value of Population feature is {a:.2f}'.format(a = df['population'].mean()))
print('std value of Population feature is {a:.2f}'.format(a =df['population'].std()))

Mean value of Median_income feature is 3.88
std value of Median_income feature is 1.91
Mean value of Population feature is 1429.57
std value of Population feature is 1147.85

In [24]:
norm_median_income = (df['median_income']-df['median_income'].mean())/(df['median_income'].std())
norm_population = (df['population']-df['population'].mean())/(df['population'].std())

In [27]:
new_df = pd.DataFrame(data = {'median_income':norm_median_income,'population':norm_population})

In [28]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit_transform(df[['median_income', 'population']])

array([[-1.25254316, -0.36118401],
       [-1.08148298, -0.26186523],
       [-1.17010515, -0.95535424],
       ...,
       [-0.44666313, -0.16167524],
       [-0.99778717, -0.1146295 ],
       [-0.45536288, -0.54326844]])

In [29]:
new_df.head(5)

   median_income  population
0      -1.252506   -0.361173
1      -1.081451   -0.261858
2      -1.170071   -0.955326
3      -0.362590   -0.796769
4      -1.026424   -0.701809

In [32]:
new_df.to_csv('New_df.csv',index = False)

In [33]:
pd.read_csv('New_df.csv')

       median_income  population
0          -1.252506   -0.361173
1          -1.081451   -0.261858
2          -1.170071   -0.955326
3          -0.362590   -0.796769
4          -1.026424   -0.701809
...              ...         ...
16995      -0.799975   -0.455262
16996      -0.715705   -0.205230
16997      -0.446650   -0.161670
16998      -0.997758   -0.114626
16999      -0.455349   -0.543252

[17000 rows x 2 columns]